<div class="initialContainer">

<div class="join">

			 	<p class="topP">Welcome to <span class="dm">DevMountain</span> Social.</p>
				<p class="bottomP">Add Some Info So Friends Can Find You.</p>

				<input type="text" name="Full Name" placeholder="Full Name" size="50">
        <input type="text" name="Tagline" placeholder="Tagline">
        <input type="text" name="Profile Image URL" placeholder="Profile Image URL">
        <input type="text" name="Bio" placeholder="Bio">
        <button>Join</button>
</div>

<div class="initialLogoRight"><img src="images/triangles.jpg" alt="Social Logo"></div>

</div>
