<div class="profileUpdateContainer">

   <div class="userProfileInfo">
       <h2>UserName</h2>
       <h4>tagline spot</h4>
		   <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
   </div>

<div class="rightSectionContinerUpdate">
      <p>Update Profile Information</p>
           <div class="profileUpdateInputs">
            <input type="text" placeholder="Full Name">
  			    <input type="text" placeholder="Tagline">
  					<input type="text" placeholder="Profile Image URL">
  					<input class="bioTextBox2" type="text" placeholder="Bio">
           </div>
      <button>Save Changes</button>
</div>

</div>
